/* SCSS HEX */
$green-pantone: #4ba74bff;
$titanium-yellow: #f3e81fff;
$gunmetal: #333745ff;
$cultured: #eeeeeeff;
$coral: #ff8360ff;

/* SCSS RGB */
$green-pantone: rgba(75, 167, 75, 1);
$titanium-yellow: rgba(243, 232, 31, 1);
$gunmetal: rgba(51, 55, 69, 1);
$cultured: rgba(238, 238, 238, 1);
$coral: rgba(255, 131, 96, 1);

/*
Home Page Styling

*/
.HomePage {
    height: 100vh;
    background-image: url("../assets/backgrounds/home-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home {
    height: 100vh;
    background-color: rgba(65, 147, 65, 0.5);
}

.logoDiv {
    height: 50vh;
    width: 50vw;
    background-color: $gunmetal;
    position: absolute;
    margin-top: 10vh;
    margin-left: 10vw;
    -moz-box-shadow:    0 0 15px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow:         0 0 15px 5px rgba(0, 0, 0, 0.4);
  }

.logo {
    height: 100%;
    width: auto;
}
.textDiv {
    height: 17vh;
    width: 50vw;
    background-color: $green-pantone;
    position: absolute;
    margin-top: 55vh;
    margin-left: 20vw;
    padding: 10px;
    -moz-box-shadow:    0 0 15px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow:         0 0 15px 5px rgba(0, 0, 0, 0.4);
    color: white;
}

/*
About Page Styling
*/

.AboutPage {
    display: flex;
    height: 100vh;
}

.LeftSide {
    width: 50vw;
    height: 100vh;
    background-color: $gunmetal;
}

.RightSide {
    background-image: url("../assets/backgrounds/about-1.jpg");
    width: 50vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.TitleDiv {
    position: absolute;
    width: 50vw;
    height: 20vh;
    padding-top: 5vh;
    padding-left: 2vw;
    background: $green-pantone;
    z-index: 9;
    margin: 10vh;
    margin-left: 20vh;
    line-height: 100%;
    -moz-box-shadow:    0 0 15px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow:         0 0 15px 5px rgba(0, 0, 0, 0.1);
  }

.TitleDiv h1{
    width: 100%;
    height: 100%;
    font-size: 4em;
    color: $cultured;
    line-height: 100%;
    vertical-align: middle;
}

.aboutText{
    height: 60vh;
    width: 45vw;
    background-color: $cultured;
    position: absolute;
    margin-top: 35vh;
    margin-left: 10vw;
    padding: 10px;
    -moz-box-shadow:    0 0 15px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow:         0 0 15px 5px rgba(0, 0, 0, 0.4);
    color: $gunmetal;
}

/*
Circular Nav Menu Stuff
*/

.circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgba(75, 167, 75);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: rgba(75, 167, 75);
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(4.5, 4.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .link-styles {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .link-styles:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .link-styles {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .link-styles:nth-child(1) {
    transform: translate3d(0em,-5.5em,0);
  }
  
  .circular-menu.active .link-styles:nth-child(2) {
    transform: translate3d(-4em,-4em,0);
  }
  
  .circular-menu.active .link-styles:nth-child(3) {
    transform: translate3d(-5.5em,0em,0);
  }